* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero h1 {
    margin-top: 20px;
    font-size: 40px;
}

.hero p {
    font-size: 24px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 30px;
}

section {
    padding: 40px;
    text-align: center;
}

#about, #projects, #contact {
    background-color: #f4f4f4;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.alarm {
    background-color: #86c6eb;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.to-do {
    background-color: #86c6eb;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio {
    background-color: #86c6eb;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media(max-width: 768px) {
    .project-grid {
        flex-direction: column;
    }

    .project {
        width: 80%;
    }
}

@media(max-width: 500px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 18px;
    }
}
